In [1]:
#import library

import matplotlib.image as mpimg
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd

In [61]:
#importing spliting method
from sklearn.model_selection import train_test_split

#importing acccuracy_score to check accuracy
from sklearn.metrics import accuracy_score

from sklearn.ensemble import RandomForestClassifier

In [ ]:
#initial a dataframe

In [3]:
i=0

In [4]:
a = mpimg.imread('D:/Mapp/Documents/Common files/academic/aCSULA/CS4661 Data science/HW5/HW5/Digit/'+str(i)+'.jpg')

In [20]:
a

array([[  0,   2,  88, 217, 158,  21,   0,   0],
       [ 16,   0, 228, 236, 166, 253,  95,   0],
       [  0,  41, 255,  44,  11, 182, 132,   3],
       [ 11,  80, 220,   0,   2, 143, 133,   5],
       [  6,  71, 122,   0,   5, 155, 140,   0],
       [  0,  76, 194,   0,  26, 207, 105,  15],
       [  0,  18, 255,  83, 146, 211,   4,   0],
       [  4,   3,  87, 228, 182,   0,   9,   2]], dtype=uint8)

In [21]:
col = np.append(a[0],a[1])

In [22]:
for x in range (2,8):
    col = np.append(col,a[x])

In [23]:
#this is one column

col

array([  0,   2,  88, 217, 158,  21,   0,   0,  16,   0, 228, 236, 166,
       253,  95,   0,   0,  41, 255,  44,  11, 182, 132,   3,  11,  80,
       220,   0,   2, 143, 133,   5,   6,  71, 122,   0,   5, 155, 140,
         0,   0,  76, 194,   0,  26, 207, 105,  15,   0,  18, 255,  83,
       146, 211,   4,   0,   4,   3,  87, 228, 182,   0,   9,   2], dtype=uint8)

In [55]:
#initialize a one-column dataFrame

data={'0':col}
images_df = pd.DataFrame(data=data, columns=['0'])

In [56]:
images_df.size

64

In [57]:
#use a loop to include all images as different columns into above dataFrame

for i in range(1,1797):
    b = mpimg.imread('D:/Mapp/Documents/Common files/academic/aCSULA/CS4661 Data science/HW5/HW5/Digit/'+str(i)+'.jpg')
    col = np.append(b[0],b[1])
    for x in range (2,8):
        col = np.append(col,b[x])
    images_df[str(i)]=col
    
images_df.head()

,0,1,2,3,4,5,6,7,8,9,...,1787,1788,1789,1790,1791,1792,1793,1794,1795,1796
0,0,0,0,6,0,15,0,10,0,0,...,3,0,3,0,3,5,6,5,7,0
1,17,0,0,0,6,0,13,0,7,0,...,0,0,6,12,4,0,0,0,0,17
2,155,11,5,108,0,200,0,114,145,174,...,164,0,127,74,0,69,96,22,22,155
3,236,187,59,255,34,149,192,133,223,199,...,253,20,250,185,34,160,255,172,158,236
4,123,210,240,213,160,2,210,203,128,5,...,235,202,52,117,250,198,206,242,114,123

In [69]:
#make the feature matrix cooridnate with the dimensions of the label 
feature = images_df.T

In [58]:
# import the label

digitLable = pd.read_csv('D:/Mapp/Documents/Common files/academic/aCSULA/CS4661 Data science/HW5/HW5/label.csv')

In [60]:
digitLable.head()

   name of the file  digit
0                 0      0
1                 1      1
2                 2      2
3                 3      3
4                 4      4

In [75]:
#spliting data accroding to the assignment
X_train, X_test, y_train, y_test = train_test_split(feature, digitLable, test_size=0.1, random_state=2)

In [76]:
#initiate random forest object with given parameter
myRandomForest = RandomForestClassifier(n_estimators = 19, bootstrap = True, random_state=2)

In [77]:
#train data with random forest object
myRandomForest.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=19, n_jobs=1, oob_score=False, random_state=2,
            verbose=0, warm_start=False)

In [78]:
#predict with test data
y_predict = myRandomForest.predict(X_test)

In [ ]:
#check accuracy
accuracy_log = accuracy_score(y_test,y_predict)
print(accuracy_log)